src/conf/xml-resources/web-service-references/WebService_Server/wsdl/localhost_8080/WebServer/WebService_Server.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://pkg_webService/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://pkg_webService/" name="WebService_Server">
<types>
<xsd:schema>
<xsd:import namespace="http://pkg_webService/" schemaLocation="http://localhost:8080/WebServer/WebService_Server?xsd=1"/>
</xsd:schema>
</types>
<message name="eliminarMantenimiento">
<part name="parameters" element="tns:eliminarMantenimiento"/>
</message>
<message name="eliminarMantenimientoResponse">
<part name="parameters" element="tns:eliminarMantenimientoResponse"/>
</message>
<message name="actualizarActividad">
<part name="parameters" element="tns:actualizarActividad"/>
</message>
<message name="actualizarActividadResponse">
<part name="parameters" element="tns:actualizarActividadResponse"/>
</message>
<message name="Exception">
<part name="fault" element="tns:Exception"/>
</message>
<message name="mostrarMantenimiento">
<part name="parameters" element="tns:mostrarMantenimiento"/>
</message>
<message name="mostrarMantenimientoResponse">
<part name="parameters" element="tns:mostrarMantenimientoResponse"/>
</message>
<message name="buscarMantenimiento">
<part name="parameters" element="tns:buscarMantenimiento"/>
</message>
<message name="buscarMantenimientoResponse">
<part name="parameters" element="tns:buscarMantenimientoResponse"/>
</message>
<message name="insertarActividad">
<part name="parameters" element="tns:insertarActividad"/>
</message>
<message name="insertarActividadResponse">
<part name="parameters" element="tns:insertarActividadResponse"/>
</message>
<message name="insertarMantenimiento">
<part name="parameters" element="tns:insertarMantenimiento"/>
</message>
<message name="insertarMantenimientoResponse">
<part name="parameters" element="tns:insertarMantenimientoResponse"/>
</message>
<message name="eliminarDetalleMantenimiento">
<part name="parameters" element="tns:eliminarDetalleMantenimiento"/>
</message>
<message name="eliminarDetalleMantenimientoResponse">
<part name="parameters" element="tns:eliminarDetalleMantenimientoResponse"/>
</message>
<message name="mostrarDetalleMantenimiento">
<part name="parameters" element="tns:mostrarDetalleMantenimiento"/>
</message>
<message name="mostrarDetalleMantenimientoResponse">
<part name="parameters" element="tns:mostrarDetalleMantenimientoResponse"/>
</message>
<message name="buscarDetalleMantenimiento">
<part name="parameters" element="tns:buscarDetalleMantenimiento"/>
</message>
<message name="buscarDetalleMantenimientoResponse">
<part name="parameters" element="tns:buscarDetalleMantenimientoResponse"/>
</message>
<message name="listarMantenimiento">
<part name="parameters" element="tns:listarMantenimiento"/>
</message>
<message name="listarMantenimientoResponse">
<part name="parameters" element="tns:listarMantenimientoResponse"/>
</message>
<message name="insertarDetalleMantenimiento">
<part name="parameters" element="tns:insertarDetalleMantenimiento"/>
</message>
<message name="insertarDetalleMantenimientoResponse">
<part name="parameters" element="tns:insertarDetalleMantenimientoResponse"/>
</message>
<message name="actualizarMantenimiento">
<part name="parameters" element="tns:actualizarMantenimiento"/>
</message>
<message name="actualizarMantenimientoResponse">
<part name="parameters" element="tns:actualizarMantenimientoResponse"/>
</message>
<message name="listarDetalleMantenimiento">
<part name="parameters" element="tns:listarDetalleMantenimiento"/>
</message>
<message name="listarDetalleMantenimientoResponse">
<part name="parameters" element="tns:listarDetalleMantenimientoResponse"/>
</message>
<message name="eliminarActividad">
<part name="parameters" element="tns:eliminarActividad"/>
</message>
<message name="eliminarActividadResponse">
<part name="parameters" element="tns:eliminarActividadResponse"/>
</message>
<message name="actualizarDetalleMantenimiento">
<part name="parameters" element="tns:actualizarDetalleMantenimiento"/>
</message>
<message name="actualizarDetalleMantenimientoResponse">
<part name="parameters" element="tns:actualizarDetalleMantenimientoResponse"/>
</message>
<message name="mostrarActividad">
<part name="parameters" element="tns:mostrarActividad"/>
</message>
<message name="mostrarActividadResponse">
<part name="parameters" element="tns:mostrarActividadResponse"/>
</message>
<message name="listarActividad">
<part name="parameters" element="tns:listarActividad"/>
</message>
<message name="listarActividadResponse">
<part name="parameters" element="tns:listarActividadResponse"/>
</message>
<message name="listarActivo">
<part name="parameters" element="tns:listarActivo"/>
</message>
<message name="listarActivoResponse">
<part name="parameters" element="tns:listarActivoResponse"/>
</message>
<message name="insertarActivo">
<part name="parameters" element="tns:insertarActivo"/>
</message>
<message name="insertarActivoResponse">
<part name="parameters" element="tns:insertarActivoResponse"/>
</message>
<message name="crearUsuario">
<part name="parameters" element="tns:crearUsuario"/>
</message>
<message name="crearUsuarioResponse">
<part name="parameters" element="tns:crearUsuarioResponse"/>
</message>
<message name="eliminarActivo">
<part name="parameters" element="tns:eliminarActivo"/>
</message>
<message name="eliminarActivoResponse">
<part name="parameters" element="tns:eliminarActivoResponse"/>
</message>
<message name="buscarActivo">
<part name="parameters" element="tns:buscarActivo"/>
</message>
<message name="buscarActivoResponse">
<part name="parameters" element="tns:buscarActivoResponse"/>
</message>
<message name="buscarActividad">
<part name="parameters" element="tns:buscarActividad"/>
</message>
<message name="buscarActividadResponse">
<part name="parameters" element="tns:buscarActividadResponse"/>
</message>
<message name="actualizarActivo">
<part name="parameters" element="tns:actualizarActivo"/>
</message>
<message name="actualizarActivoResponse">
<part name="parameters" element="tns:actualizarActivoResponse"/>
</message>
<message name="mostrarActivo">
<part name="parameters" element="tns:mostrarActivo"/>
</message>
<message name="mostrarActivoResponse">
<part name="parameters" element="tns:mostrarActivoResponse"/>
</message>
<message name="reporte1Man">
<part name="parameters" element="tns:reporte1Man"/>
</message>
<message name="reporte1ManResponse">
<part name="parameters" element="tns:reporte1ManResponse"/>
</message>
<message name="login">
<part name="parameters" element="tns:login"/>
</message>
<message name="loginResponse">
<part name="parameters" element="tns:loginResponse"/>
</message>
<portType name="WebService_Server">
<operation name="eliminarMantenimiento">
<input wsam:Action="http://pkg_webService/WebService_Server/eliminarMantenimientoRequest" message="tns:eliminarMantenimiento"/>
<output wsam:Action="http://pkg_webService/WebService_Server/eliminarMantenimientoResponse" message="tns:eliminarMantenimientoResponse"/>
</operation>
<operation name="actualizarActividad">
<input wsam:Action="http://pkg_webService/WebService_Server/actualizarActividadRequest" message="tns:actualizarActividad"/>
<output wsam:Action="http://pkg_webService/WebService_Server/actualizarActividadResponse" message="tns:actualizarActividadResponse"/>
<fault message="tns:Exception" name="Exception" wsam:Action="http://pkg_webService/WebService_Server/actualizarActividad/Fault/Exception"/>
</operation>
<operation name="mostrarMantenimiento">
<input wsam:Action="http://pkg_webService/WebService_Server/mostrarMantenimientoRequest" message="tns:mostrarMantenimiento"/>
<output wsam:Action="http://pkg_webService/WebService_Server/mostrarMantenimientoResponse" message="tns:mostrarMantenimientoResponse"/>
</operation>
<operation name="buscarMantenimiento">
<input wsam:Action="http://pkg_webService/WebService_Server/buscarMantenimientoRequest" message="tns:buscarMantenimiento"/>
<output wsam:Action="http://pkg_webService/WebService_Server/buscarMantenimientoResponse" message="tns:buscarMantenimientoResponse"/>
</operation>
<operation name="insertarActividad">
<input wsam:Action="http://pkg_webService/WebService_Server/insertarActividadRequest" message="tns:insertarActividad"/>
<output wsam:Action="http://pkg_webService/WebService_Server/insertarActividadResponse" message="tns:insertarActividadResponse"/>
<fault message="tns:Exception" name="Exception" wsam:Action="http://pkg_webService/WebService_Server/insertarActividad/Fault/Exception"/>
</operation>
<operation name="insertarMantenimiento">
<input wsam:Action="http://pkg_webService/WebService_Server/insertarMantenimientoRequest" message="tns:insertarMantenimiento"/>
<output wsam:Action="http://pkg_webService/WebService_Server/insertarMantenimientoResponse" message="tns:insertarMantenimientoResponse"/>
</operation>
<operation name="eliminarDetalleMantenimiento">
<input wsam:Action="http://pkg_webService/WebService_Server/eliminarDetalleMantenimientoRequest" message="tns:eliminarDetalleMantenimiento"/>
<output wsam:Action="http://pkg_webService/WebService_Server/eliminarDetalleMantenimientoResponse" message="tns:eliminarDetalleMantenimientoResponse"/>
</operation>
<operation name="mostrarDetalleMantenimiento">
<input wsam:Action="http://pkg_webService/WebService_Server/mostrarDetalleMantenimientoRequest" message="tns:mostrarDetalleMantenimiento"/>
<output wsam:Action="http://pkg_webService/WebService_Server/mostrarDetalleMantenimientoResponse" message="tns:mostrarDetalleMantenimientoResponse"/>
</operation>
<operation name="buscarDetalleMantenimiento">
<input wsam:Action="http://pkg_webService/WebService_Server/buscarDetalleMantenimientoRequest" message="tns:buscarDetalleMantenimiento"/>
<output wsam:Action="http://pkg_webService/WebService_Server/buscarDetalleMantenimientoResponse" message="tns:buscarDetalleMantenimientoResponse"/>
</operation>
<operation name="listarMantenimiento">
<input wsam:Action="http://pkg_webService/WebService_Server/listarMantenimientoRequest" message="tns:listarMantenimiento"/>
<output wsam:Action="http://pkg_webService/WebService_Server/listarMantenimientoResponse" message="tns:listarMantenimientoResponse"/>
</operation>
<operation name="insertarDetalleMantenimiento">
<input wsam:Action="http://pkg_webService/WebService_Server/insertarDetalleMantenimientoRequest" message="tns:insertarDetalleMantenimiento"/>
<output wsam:Action="http://pkg_webService/WebService_Server/insertarDetalleMantenimientoResponse" message="tns:insertarDetalleMantenimientoResponse"/>
</operation>
<operation name="actualizarMantenimiento">
<input wsam:Action="http://pkg_webService/WebService_Server/actualizarMantenimientoRequest" message="tns:actualizarMantenimiento"/>
<output wsam:Action="http://pkg_webService/WebService_Server/actualizarMantenimientoResponse" message="tns:actualizarMantenimientoResponse"/>
</operation>
<operation name="listarDetalleMantenimiento">
<input wsam:Action="http://pkg_webService/WebService_Server/listarDetalleMantenimientoRequest" message="tns:listarDetalleMantenimiento"/>
<output wsam:Action="http://pkg_webService/WebService_Server/listarDetalleMantenimientoResponse" message="tns:listarDetalleMantenimientoResponse"/>
</operation>
<operation name="eliminarActividad">
<input wsam:Action="http://pkg_webService/WebService_Server/eliminarActividadRequest" message="tns:eliminarActividad"/>
<output wsam:Action="http://pkg_webService/WebService_Server/eliminarActividadResponse" message="tns:eliminarActividadResponse"/>
</operation>
<operation name="actualizarDetalleMantenimiento">
<input wsam:Action="http://pkg_webService/WebService_Server/actualizarDetalleMantenimientoRequest" message="tns:actualizarDetalleMantenimiento"/>
<output wsam:Action="http://pkg_webService/WebService_Server/actualizarDetalleMantenimientoResponse" message="tns:actualizarDetalleMantenimientoResponse"/>
</operation>
<operation name="mostrarActividad">
<input wsam:Action="http://pkg_webService/WebService_Server/mostrarActividadRequest" message="tns:mostrarActividad"/>
<output wsam:Action="http://pkg_webService/WebService_Server/mostrarActividadResponse" message="tns:mostrarActividadResponse"/>
<fault message="tns:Exception" name="Exception" wsam:Action="http://pkg_webService/WebService_Server/mostrarActividad/Fault/Exception"/>
</operation>
<operation name="listarActividad">
<input wsam:Action="http://pkg_webService/WebService_Server/listarActividadRequest" message="tns:listarActividad"/>
<output wsam:Action="http://pkg_webService/WebService_Server/listarActividadResponse" message="tns:listarActividadResponse"/>
<fault message="tns:Exception" name="Exception" wsam:Action="http://pkg_webService/WebService_Server/listarActividad/Fault/Exception"/>
</operation>
<operation name="listarActivo">
<input wsam:Action="http://pkg_webService/WebService_Server/listarActivoRequest" message="tns:listarActivo"/>
<output wsam:Action="http://pkg_webService/WebService_Server/listarActivoResponse" message="tns:listarActivoResponse"/>
</operation>
<operation name="insertarActivo">
<input wsam:Action="http://pkg_webService/WebService_Server/insertarActivoRequest" message="tns:insertarActivo"/>
<output wsam:Action="http://pkg_webService/WebService_Server/insertarActivoResponse" message="tns:insertarActivoResponse"/>
</operation>
<operation name="crearUsuario">
<input wsam:Action="http://pkg_webService/WebService_Server/crearUsuarioRequest" message="tns:crearUsuario"/>
<output wsam:Action="http://pkg_webService/WebService_Server/crearUsuarioResponse" message="tns:crearUsuarioResponse"/>
</operation>
<operation name="eliminarActivo">
<input wsam:Action="http://pkg_webService/WebService_Server/eliminarActivoRequest" message="tns:eliminarActivo"/>
<output wsam:Action="http://pkg_webService/WebService_Server/eliminarActivoResponse" message="tns:eliminarActivoResponse"/>
</operation>
<operation name="buscarActivo">
<input wsam:Action="http://pkg_webService/WebService_Server/buscarActivoRequest" message="tns:buscarActivo"/>
<output wsam:Action="http://pkg_webService/WebService_Server/buscarActivoResponse" message="tns:buscarActivoResponse"/>
</operation>
<operation name="buscarActividad">
<input wsam:Action="http://pkg_webService/WebService_Server/buscarActividadRequest" message="tns:buscarActividad"/>
<output wsam:Action="http://pkg_webService/WebService_Server/buscarActividadResponse" message="tns:buscarActividadResponse"/>
<fault message="tns:Exception" name="Exception" wsam:Action="http://pkg_webService/WebService_Server/buscarActividad/Fault/Exception"/>
</operation>
<operation name="actualizarActivo">
<input wsam:Action="http://pkg_webService/WebService_Server/actualizarActivoRequest" message="tns:actualizarActivo"/>
<output wsam:Action="http://pkg_webService/WebService_Server/actualizarActivoResponse" message="tns:actualizarActivoResponse"/>
</operation>
<operation name="mostrarActivo">
<input wsam:Action="http://pkg_webService/WebService_Server/mostrarActivoRequest" message="tns:mostrarActivo"/>
<output wsam:Action="http://pkg_webService/WebService_Server/mostrarActivoResponse" message="tns:mostrarActivoResponse"/>
</operation>
<operation name="reporte1Man">
<input wsam:Action="http://pkg_webService/WebService_Server/reporte1ManRequest" message="tns:reporte1Man"/>
<output wsam:Action="http://pkg_webService/WebService_Server/reporte1ManResponse" message="tns:reporte1ManResponse"/>
</operation>
<operation name="login">
<input wsam:Action="http://pkg_webService/WebService_Server/loginRequest" message="tns:login"/>
<output wsam:Action="http://pkg_webService/WebService_Server/loginResponse" message="tns:loginResponse"/>
</operation>
</portType>
<binding name="WebService_ServerPortBinding" type="tns:WebService_Server">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="eliminarMantenimiento">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="actualizarActividad">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal"/>
</fault>
</operation>
<operation name="mostrarMantenimiento">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="buscarMantenimiento">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="insertarActividad">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal"/>
</fault>
</operation>
<operation name="insertarMantenimiento">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="eliminarDetalleMantenimiento">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="mostrarDetalleMantenimiento">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="buscarDetalleMantenimiento">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="listarMantenimiento">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="insertarDetalleMantenimiento">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="actualizarMantenimiento">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="listarDetalleMantenimiento">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="eliminarActividad">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="actualizarDetalleMantenimiento">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="mostrarActividad">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal"/>
</fault>
</operation>
<operation name="listarActividad">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal"/>
</fault>
</operation>
<operation name="listarActivo">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="insertarActivo">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="crearUsuario">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="eliminarActivo">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="buscarActivo">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="buscarActividad">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal"/>
</fault>
</operation>
<operation name="actualizarActivo">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="mostrarActivo">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="reporte1Man">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="login">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="WebService_Server">
<port name="WebService_ServerPort" binding="tns:WebService_ServerPortBinding">
<soap:address location="http://localhost:8080/WebServer/WebService_Server"/>
</port>
</service>
</definitions>