src/conf/xml-resources/web-service-references/WebService_Server/wsdl/localhost_8080/WebServer/WebService_Server.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><xs:schema xmlns:tns="http://pkg_webService/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://pkg_webService/">

<xs:element name="Exception" type="tns:Exception"/>

<xs:element name="actualizarActividad" type="tns:actualizarActividad"/>

<xs:element name="actualizarActividadResponse" type="tns:actualizarActividadResponse"/>

<xs:element name="actualizarActivo" type="tns:actualizarActivo"/>

<xs:element name="actualizarActivoResponse" type="tns:actualizarActivoResponse"/>

<xs:element name="actualizarDetalleMantenimiento" type="tns:actualizarDetalleMantenimiento"/>

<xs:element name="actualizarDetalleMantenimientoResponse" type="tns:actualizarDetalleMantenimientoResponse"/>

<xs:element name="actualizarMantenimiento" type="tns:actualizarMantenimiento"/>

<xs:element name="actualizarMantenimientoResponse" type="tns:actualizarMantenimientoResponse"/>

<xs:element name="buscarActividad" type="tns:buscarActividad"/>

<xs:element name="buscarActividadResponse" type="tns:buscarActividadResponse"/>

<xs:element name="buscarActivo" type="tns:buscarActivo"/>

<xs:element name="buscarActivoResponse" type="tns:buscarActivoResponse"/>

<xs:element name="buscarDetalleMantenimiento" type="tns:buscarDetalleMantenimiento"/>

<xs:element name="buscarDetalleMantenimientoResponse" type="tns:buscarDetalleMantenimientoResponse"/>

<xs:element name="buscarMantenimiento" type="tns:buscarMantenimiento"/>

<xs:element name="buscarMantenimientoResponse" type="tns:buscarMantenimientoResponse"/>

<xs:element name="crearUsuario" type="tns:crearUsuario"/>

<xs:element name="crearUsuarioResponse" type="tns:crearUsuarioResponse"/>

<xs:element name="eliminarActividad" type="tns:eliminarActividad"/>

<xs:element name="eliminarActividadResponse" type="tns:eliminarActividadResponse"/>

<xs:element name="eliminarActivo" type="tns:eliminarActivo"/>

<xs:element name="eliminarActivoResponse" type="tns:eliminarActivoResponse"/>

<xs:element name="eliminarDetalleMantenimiento" type="tns:eliminarDetalleMantenimiento"/>

<xs:element name="eliminarDetalleMantenimientoResponse" type="tns:eliminarDetalleMantenimientoResponse"/>

<xs:element name="eliminarMantenimiento" type="tns:eliminarMantenimiento"/>

<xs:element name="eliminarMantenimientoResponse" type="tns:eliminarMantenimientoResponse"/>

<xs:element name="insertarActividad" type="tns:insertarActividad"/>

<xs:element name="insertarActividadResponse" type="tns:insertarActividadResponse"/>

<xs:element name="insertarActivo" type="tns:insertarActivo"/>

<xs:element name="insertarActivoResponse" type="tns:insertarActivoResponse"/>

<xs:element name="insertarDetalleMantenimiento" type="tns:insertarDetalleMantenimiento"/>

<xs:element name="insertarDetalleMantenimientoResponse" type="tns:insertarDetalleMantenimientoResponse"/>

<xs:element name="insertarMantenimiento" type="tns:insertarMantenimiento"/>

<xs:element name="insertarMantenimientoResponse" type="tns:insertarMantenimientoResponse"/>

<xs:element name="listarActividad" type="tns:listarActividad"/>

<xs:element name="listarActividadResponse" type="tns:listarActividadResponse"/>

<xs:element name="listarActivo" type="tns:listarActivo"/>

<xs:element name="listarActivoResponse" type="tns:listarActivoResponse"/>

<xs:element name="listarDetalleMantenimiento" type="tns:listarDetalleMantenimiento"/>

<xs:element name="listarDetalleMantenimientoResponse" type="tns:listarDetalleMantenimientoResponse"/>

<xs:element name="listarMantenimiento" type="tns:listarMantenimiento"/>

<xs:element name="listarMantenimientoResponse" type="tns:listarMantenimientoResponse"/>

<xs:element name="login" type="tns:login"/>

<xs:element name="loginResponse" type="tns:loginResponse"/>

<xs:element name="mostrarActividad" type="tns:mostrarActividad"/>

<xs:element name="mostrarActividadResponse" type="tns:mostrarActividadResponse"/>

<xs:element name="mostrarActivo" type="tns:mostrarActivo"/>

<xs:element name="mostrarActivoResponse" type="tns:mostrarActivoResponse"/>

<xs:element name="mostrarDetalleMantenimiento" type="tns:mostrarDetalleMantenimiento"/>

<xs:element name="mostrarDetalleMantenimientoResponse" type="tns:mostrarDetalleMantenimientoResponse"/>

<xs:element name="mostrarMantenimiento" type="tns:mostrarMantenimiento"/>

<xs:element name="mostrarMantenimientoResponse" type="tns:mostrarMantenimientoResponse"/>

<xs:element name="reporte1Man" type="tns:reporte1Man"/>

<xs:element name="reporte1ManResponse" type="tns:reporte1ManResponse"/>

<xs:complexType name="buscarActivo">
<xs:sequence>
<xs:element name="as_pBuscar" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="buscarActivoResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="eliminarMantenimiento">
<xs:sequence>
<xs:element name="as_id" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="eliminarMantenimientoResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="eliminarActivo">
<xs:sequence>
<xs:element name="as_id" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="eliminarActivoResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="buscarDetalleMantenimiento">
<xs:sequence>
<xs:element name="as_pBuscar" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="buscarDetalleMantenimientoResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="crearUsuario">
<xs:sequence>
<xs:element name="as_codigo" type="xs:string" minOccurs="0"/>
<xs:element name="as_user" type="xs:string" minOccurs="0"/>
<xs:element name="as_pass" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="crearUsuarioResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="buscarActividad">
<xs:sequence>
<xs:element name="as_pBuscar" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="buscarActividadResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="Exception">
<xs:sequence>
<xs:element name="message" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="buscarMantenimiento">
<xs:sequence>
<xs:element name="as_pBuscar" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="buscarMantenimientoResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="insertarDetalleMantenimiento">
<xs:sequence>
<xs:element name="as_codigo" type="xs:string" minOccurs="0"/>
<xs:element name="as_idMantenimiento" type="xs:string" minOccurs="0"/>
<xs:element name="as_idActivo" type="xs:string" minOccurs="0"/>
<xs:element name="as_idActividad" type="xs:string" minOccurs="0"/>
<xs:element name="as_valor" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="insertarDetalleMantenimientoResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="insertarActivo">
<xs:sequence>
<xs:element name="as_codigo" type="xs:string" minOccurs="0"/>
<xs:element name="as_nombre" type="xs:string" minOccurs="0"/>
<xs:element name="as_fechaAdq" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="insertarActivoResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="mostrarMantenimiento">
<xs:sequence>
<xs:element name="as_id" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="mostrarMantenimientoResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="insertarActividad">
<xs:sequence>
<xs:element name="as_id" type="xs:string" minOccurs="0"/>
<xs:element name="as_nombre" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="insertarActividadResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="actualizarDetalleMantenimiento">
<xs:sequence>
<xs:element name="as_id" type="xs:string" minOccurs="0"/>
<xs:element name="as_idMantenimiento" type="xs:string" minOccurs="0"/>
<xs:element name="as_idActivo" type="xs:string" minOccurs="0"/>
<xs:element name="as_idActividad" type="xs:string" minOccurs="0"/>
<xs:element name="as_valor" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="actualizarDetalleMantenimientoResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="listarActividad">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="listarActividadResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="login">
<xs:sequence>
<xs:element name="as_user" type="xs:string" minOccurs="0"/>
<xs:element name="as_pass" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="loginResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="mostrarActivo">
<xs:sequence>
<xs:element name="as_id" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="mostrarActivoResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="listarMantenimiento">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="listarMantenimientoResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="mostrarActividad">
<xs:sequence>
<xs:element name="as_id" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="mostrarActividadResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="eliminarDetalleMantenimiento">
<xs:sequence>
<xs:element name="as_id" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="eliminarDetalleMantenimientoResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="listarDetalleMantenimiento">
<xs:sequence>
<xs:element name="as_idMantenimiento" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="listarDetalleMantenimientoResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="reporte1Man">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="reporte1ManResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="actualizarActividad">
<xs:sequence>
<xs:element name="as_id" type="xs:string" minOccurs="0"/>
<xs:element name="as_nombre" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="actualizarActividadResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="actualizarActivo">
<xs:sequence>
<xs:element name="as_id" type="xs:string" minOccurs="0"/>
<xs:element name="as_nombre" type="xs:string" minOccurs="0"/>
<xs:element name="as_fechaAdq" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="actualizarActivoResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="mostrarDetalleMantenimiento">
<xs:sequence>
<xs:element name="as_id" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="mostrarDetalleMantenimientoResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="actualizarMantenimiento">
<xs:sequence>
<xs:element name="as_id" type="xs:string" minOccurs="0"/>
<xs:element name="as_fecha" type="xs:string" minOccurs="0"/>
<xs:element name="as_responsable" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="actualizarMantenimientoResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="listarActivo">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="listarActivoResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="insertarMantenimiento">
<xs:sequence>
<xs:element name="as_codigo" type="xs:string" minOccurs="0"/>
<xs:element name="as_fecha" type="xs:string" minOccurs="0"/>
<xs:element name="as_responsable" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="insertarMantenimientoResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="eliminarActividad">
<xs:sequence>
<xs:element name="as_id" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="eliminarActividadResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:schema>